*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: antiquewhite;
    border-radius: 8px;
    width: 50vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fileinput{
    margin-top: 4vh;
}

#inputform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#submitbtn{
    margin: 1vh 1vw;
}
